/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__link {
    font-family: Fantasy, cursive;
}

@media (max-width:768px) {

    .header { 
        text-align: center;
    }

}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task-wrap {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.main-add__wrapper {
    display: flex;
}

.list-wrap {
    margin: 0;
    padding: 0;
}

.item, 
.title {
    list-style: none;
}

.input, 
.main-add__btn, 
.btn-edit, 
.btn-delete{
    outline: none;
}

.main-add__btn, 
.btn-edit, 
.btn-delete {
    background: none;
    border: none;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.main-add__btn:hover, 
.btn-edit:hover, 
.btn-delete:hover {
    color: #3a3A3a;
}
/* Heading */
.title,
.main-add__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.main-add__input, 
.main-todo__input, 
.main-complete__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.main-add__input:focus, 
.main-todo__input:focus, 
.main-complete__input:focus {
    color: #333;
}

/* New Task */
.label-new {
    display: block;
    margin: 0 0 20px;
}

.input-new {
    width: 318px;
}

/* Task list */
.item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item > * {
    vertical-align: middle;
}

.item > .checkbox {
    margin: 0 10px;
}

.task-wrap {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.main-add__input, 
.main-todo__input, 
.main-complete__input {
    width: 226px;
}

.btn-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.btn-img:hover {
    transform: rotateZ(0);
}

/* Completed */
.main-complete__list .main-complete__label,  
.main-complete__list .main-todo__label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.item .main-complete__input, 
.item .main-todo__input, 
.item .main-add__input {
    display: none;
}

.list-wrap .main-todo__item-edit .main-todo__input {
    display: inline-block;
    width: 224px;
}

.list-wrap .main-todo__item-edit .label {
    display: none;
}